@font-face {
  font-family: 'Montserrat';
  font-display: auto;
  src: url('./static/fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'),
    url('./static/fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff');
}