html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: $color-grey;
  overflow-x: hidden;
  min-width: 500px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* scrollbar for FireFox */
* {
  scrollbar-color: $color-blue $color-dark;
  scrollbar-width: thin;
}

/* scrollbar for Chrome */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-blue;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: $color-dark;
}

.btn {
  padding: $spacing-padding $spacing-padding;
  background-color: $color-green;
  color: $color-white;
  border: none;
  transition-duration: .5s;
  border-radius: $border-radius;
  font-size: 14px;
  font-family: 'Montserrat';
  cursor: pointer;
}

.btn:hover {
  background-color: $color-green-light;
}